<html>
	<head>
	<script src="./jquery.js"></script>
	<script src="./underscore.js"></script>
	<script src="./backbone.js"></script>
  <LINK REL="StyleSheet" HREF="./bootstrap.css" TYPE="text/css">
	<LINK REL="StyleSheet" HREF="./style.css" TYPE="text/css">
  <script src="./passage-data.js"></script>
	<title>Happy Fish</title>
	<script>

	var app;
	var router = Backbone.Router.extend({
		routes: {
			'': 'home',
			'texts/:textName': 'loadText'
		},
		initialize: function(){
			var passages = new Passages();
			passages.reset(passageData);
			this.homeView = new homeView({ collection: passages });
			this.textView = new textView({ collection: passages });
		},
		home: function(){
			this.homeView.render();
		},
		loadText: function(textName){
			this.textView.render(textName);
		}
	});

	var homeView = Backbone.View.extend({
		el: '.list',
		listEl: '.text-list',
		template: _.template('<ol class="text-list">\
		</ol>'),
		initialize: function(){
				
    },
		render: function(){
			this.$el.html(''); // empty the html
      this.$el.html(this.template()); //you want to call teh template so it return a string
			this.collection.each(function(text){
				var textSubView = new textListView({model: text});
				textSubView.render();
				this.$el.find(this.listEl).append(textSubView.$el);
			}, this);
		}
	});

	var textListView = Backbone.View.extend({
		tagName: 'li',
		template: _.template(''
			+'<a href="#texts/<%= text %>">'
			+'<%= text %></a>'),
		render: function(){
			this.$el.html(this.template(this.model.attributes));
		}
	});

	var Passages = Backbone.Collection.extend({});

	var textView = Backbone.View.extend({
    el: '.info',
    listEl: '.pass',
		template: _.template('<h2 attributes.text %></h1>\
			<p><%= attributes.info %></p>\
      <ul class="pass"></ul>\
      '),
		render: function(textName){
			var textModel = this.collection.where({
				text: textName
			})[0];
			var passageHtml = this.template(textModel);
			$('.info').html(passageHtml);
      var passage = textModel.attributes.passages;
      var This = this;
      _.each(passage, function(text) {
        var passageSubView = new passageListView({model: text});
        passageSubView.render();
        This.$el.find(This.listEL).append(passageSubView.$el)
      });
    }
  });

  var passageListView = Backbone.View.extend({
    tagName: 'li',
    template: _.template(''
      +'<a href="#passages/<%= ID %>">'
      +'<%= title %>'),
    render: function(){
      console.log(this.model);
      this.$el.html(this.template(this.model.attributes));
    }
  });

	$(document).ready(function(){
		app = new router;
		Backbone.history.start();

	});
	</script>
	</head>
		<body>
    <div class="container">

		  <h1>Welcome to Happy Fish</h1>
      <p id="blk">An archive of translations<br>specially selected by myself<br>for their awesomeness.</p>
        <div class="row">
          <div class="col-md-4 list">
          </div>
          <div class="col-md-8 info">
          </div>

    </div>
		</body>
</html>
