body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
body {
	background-color: #F1D2D2;
}
h1 {
	text-align: center;
}
p {
	font-family: roman, 'times new roman', times, serif;
}
li {
	font-size: large;
	
}
#blk {
	text-align: center;
}